.travel-type-panel {
    position: absolute;
    right: 10px;
    top: 70px;
    z-index: 1000;
    box-shadow: 0 1px 5px rgba(0,0,0,.4);
    background-color: rgba(255,255,255,1);
}

.button {
    font-family: sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    color: #666;
    cursor: pointer;
    padding: 10px;
    display: inline-block;
}

.button:hover { background-color: #EEE; }
.button.active { color: rgb(63,81,181); }
