.travel-time-legend-container {
    position: absolute;
    left: 50%;
    bottom: 30px;
    z-index: 1000;
}

.time-legend-elements-container {
    position: relative;
    left: -50%;
}

.time-legend-element {
    font-family: sans-serif;
    font-size: 13px;
    color: white;
    cursor: pointer;
    padding: 10px 50px;
    display: inline-block;
}
