.travel-time-panel {
    position: absolute;
    right: 10px;
    top: 130px;
    z-index: 1000;
    box-shadow: 0 1px 5px rgba(0,0,0,.4);
    background-color: rgba(255,255,255,1);
}

.time-button {
    font-family: sans-serif;
    font-size: 13px;
    color: #666;
    cursor: pointer;
    padding: 10px;
    display: inline-block;
}

.time-button:hover { background-color: #EEE; }
.time-button.active { color: rgb(63,81,181); }
