.find-me-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 1000;
    box-shadow: 0 1px 5px rgba(0,0,0,.4);
    background-color: rgba(255,255,255,1);
}

.button {
    font-family: sans-serif;
    font-size: 20px;
    color: #666;
    cursor: pointer;
    padding: 10px;
    display: inline-block;
}

.button:hover { background-color: #EEE; }
